/* aletrações do header */
#navigation li:first-child{
    border: none;
}
#navigation li:first-child:hover{
    border-radius: 30px 30px 0px 0px  ;
}
#navigation li:last-child:hover{
    border-radius:  0px 0px 30px 30px;
}
#navigation li:hover{
    background-color: #346c6b;
    color: white;
}
/* alterações do sec1 */
.container_imgs img:first-child{
    margin-bottom: 20px;
}

