*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto, sans-serif;
    margin: auto;
    height: 150vh;
}
/* topo */
header{
    background-image: url(/imgs/bowls.jpg);
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    padding: 10px;
    height: 100vh;
}
/* container do topo flex */
.container_topo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

/* barra de navegação */
#navigation{
    width: 300px;
    margin: auto;
    margin: 0;
    color: #346c6b;
    background-color: rgba(255, 255, 255, 0.911);
    border-radius: 30px;
}
#navigation ul{
    list-style: none;
    text-align: center;
}
#navigation li{
    padding: 30px 30px 30px 30px;
    font-weight: 600;
    font-size: 25px;
    border-top: 1px solid black;
}

/* section 1 */
.sec1{
    background-color: #71cfc4;
    padding: 50px 0 50px 0;
    margin-top: 147px;
    margin-bottom: 147px;
    display: flex;
    justify-content:space-evenly;
}
.container_imgs{
    width: 500px;
}
.container_imgs img{
    display: block;
    margin: auto;
}
#logo_sobre{
    max-width: 450px;
}
#frente_sobre{
    max-width: 388px;
}
.container_infos{
    max-width: 550px;
    margin: 0;
}
.container_infos p{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #346c6b;
    margin: auto;
    padding: 50px;
}
.redes{
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

/* section 2 */
.sec2{
    background-color: #346c6b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_cardapio{
    background-color: #71cfc4;
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}
.grid_item{
    max
  
}
#item1{
    background-image: url(/imgs/cafe.png);
    background-position: center;
    background-size: cover;
}
#item2{
    background-image: url(/imgs/empada.png);
    background-position: center;
    background-size: cover;
}
#item3{
    background-image: url(/imgs/drinks.png);
    background-position: center;
    background-size: cover;
}
#item4{
    background-image: url(/imgs/torta\ de\ limao.png);
    background-position:center;
    background-size: cover;
}
#item5{
    background-image: url(/imgs/gelato_potinho_1.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
#item6{
    background-image: url(/imgs/brownie.png);
    background-position: center;
    background-size: cover;
}