@media screen and (max-width: 988px){
    .container_topo{
        height: 1s00%;
        display: block;
        margin: 20px;
        
    }
    .container_topo img{
        max-width: 100%;
        display: block;
        margin: auto;

    }
    
    #navigation{
        max-width: 100%;
        display: block;
        margin: auto;
        margin-top: 30px;
    }

}

@media screen and (max-width: 867px){
    .sec1{
        display: block;
    }
    .container_imgs{
        margin:auto;
    }
    .container_infos{
        max-width: 450px;
        padding: 0px;
        margin: auto;
    }
}

