@media screen and (max-width: 988px){
    .container_topo{
        display: block;   
    }
    .container_topo img{
        max-width: 100%;
        display: block;
        margin: auto;
        margin-top: 30px;
    }
    
    #navigation{
        display: block;
        margin: auto;
        margin-top: 30px;
    }
}